---
apiVersion: v1
kind: Service
metadata:
  name: system-server
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  type: ClusterIP
  selector:
    app: systemserver
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      name: api
    - protocol: TCP
      port: 28080
      targetPort: 28080
      name: proxy

---
apiVersion: v1
kind: Service
metadata:
  name: secret
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  type: ClusterIP
  selector:
    app: systemserver
  ports:
    - protocol: TCP
      port: 28080
      targetPort: 28080

---
apiVersion: v1
kind: Service
metadata:
  name: bfl
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  type: ClusterIP
  selector:
    app: systemserver
  ports:
    - protocol: TCP
      port: 28080
      targetPort: 28080

---
apiVersion: v1
kind: Service
metadata:
  name: app-service
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  type: ClusterIP
  selector:
    app: systemserver
  ports:
    - protocol: TCP
      port: 28080
      targetPort: 28080

---
apiVersion: v1
kind: Service
metadata:
  name: authelia-backend-provider
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  type: ClusterIP
  selector:
    app: systemserver
  ports:
    - protocol: TCP
      port: 28080
      targetPort: 28080


---
apiVersion: v1
kind: Service
metadata:
  name: headscale
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  type: ClusterIP
  selector:
    app: systemserver
  ports:
    - protocol: TCP
      port: 28080
      targetPort: 28080

